.logo_image{
    width: 300px;
    height: 200px;
    margin-left: 665px;
}

/* #main_div{
    width: 400px; 
    height: 550px;
    border: 1px solid black;
    margin :auto;
} */


fieldset{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
}

input{
     border: 2px solid;
     }

td:first-child{ 
         width: 100px;
         } 

legend{
           font-weight: bold;
         }